- name: user test
  hosts: ism
  collections:
    - inspur.sm
  connection: local
  gather_facts: no
  vars:
    ism:
      host: "{{ ansible_ssh_host }}"
      username: "{{ username }}"
      password: "{{ password }}"

  tasks:

  - name: "get user group information"
    user_group_info:
      provider: "{{ ism }}"

  - name: "add user group information"
    add_user_group:
      name: "test"
      pri: "administrator"
      provider: "{{ ism }}"

  - name: "get user group information"
    user_group_info:
      provider: "{{ ism }}"

  - name: "set user group"
    edit_user_group:
      name: "test"
      pri: "user"
      provider: "{{ ism }}"
      
  - name: "get user group information"
    user_group_info:
      provider: "{{ ism }}"
      
  - name: get user information
    user_info:
      provider: "{{ ism }}"
      
  - name: "add user"
    add_user:
      uname: "wbs"
      upass: "admin"
      role_id: "test"
      priv: "kvm,sol"
      provider: "{{ ism }}"
      
  - name: get user information
    user_info:
      provider: "{{ ism }}"
      
  - name: "change user password"
    edit_pass_user:
      uname: "wbs"
      upass: "admin1"
      provider: "{{ ism }}"  
      
  - name: "change user privilege"
    edit_priv_user:
      uname: "wbs"
      role_id: "Administrator"
      priv: "kvm,sol"
      provider: "{{ ism }}"
      
  - name: get user information
    user_info:
      provider: "{{ ism }}"
      
  - name: "delete user"
    del_user:
      uname: "wbs"
      provider: "{{ ism }}"
      
  - name: get user information
    user_info:
      provider: "{{ ism }}"
      
  - name: "delete user group"
    del_user_group:
      name: "test"
      provider: "{{ ism }}"
      
  - name: "get user group information"
    user_group_info:
      provider: "{{ ism }}"
