- name: Screen test
  hosts: ism
  collections:
    - inspur.sm
  connection: local
  gather_facts: no
  vars:
    ism:
      host: "{{ ansible_ssh_host }}"
      username: "{{ username }}"
      password: "{{ password }}"

  tasks:

  - name: "Download auto screenshots"
    download_auto_screenshot:
      file_url: "/home/wbs/screen"
      provider: "{{ ism }}"