- name: bios test
  hosts: ism
  collections:
    - inspur.sm
  connection: local
  gather_facts: no
  vars:
    ism:
      host: "{{ ansible_ssh_host }}"
      username: "{{ username }}"
      password: "{{ password }}"

  tasks:

  - name: "export bios config"
    bios_export:
      file_url: "/home/wbs/bios.json"
      provider: "{{ ism }}"