- name: Media instance test
  hosts: ism
  collections:
    - inspur.sm
  connection: local
  gather_facts: no
  vars:
    ism:
      host: "{{ ansible_ssh_host }}"
      username: "{{ username }}"
      password: "{{ password }}"

  tasks:

  - name: "Set media instance"
    edit_media_instance:
      num_fd: 1
      num_cd: 1
      num_hd: 1
      kvm_num_fd: 1
      kvm_num_cd: 1
      kvm_num_hd: 1
      sd_media: "Enable"
      secure_channel: "Enable"
      power_save_mode: "Enable"
      provider: "{{ ism }}"