- name: Collect test
  hosts: ism
  collections:
    - inspur.sm
  connection: local
  gather_facts: no
  vars:
    ism:
      host: "{{ ansible_ssh_host }}"
      username: "{{ username }}"
      password: "{{ password }}"

  tasks:

  - name: "Collect logs"
    collect_log:
      file_url: "/home/wbs/test.tar"
      provider: "{{ ism }}"